@media all and (max-width: 600px) {

  .header-in > h1 {
    margin-left: 20px;
  }

  .header-in > div > nav {
    display: none;
  }

  .header-in > div > button {
    display: flex;
  }

  .menu-mobile-expanded > nav > ul {
    padding: 20px 0 20px 0;
    animation: ulExpand .3s;
  }

  .menu-mobile-expanded > nav > ul > li {
    padding: 10px;
    display: flex;
    animation: liExpand .3s;
  }

}

@keyframes ulExpand {
  from {
    padding: 0 0 0 0;
  }

  to {
    padding: 20px 0 20px 0;
  }
}

@keyframes liExpand {
  from {
    padding: 0;
  }

  to {
    padding: 10px;
  }
}