@import '../styles/general.css';

header {
  height: 75px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-in {
  width: 1000px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header-in > div {
  display: flex;
  align-items: center;
}

.header-in > div > nav > ul {
  list-style: none;
  display: flex;
}

.header-in > div > nav > ul > li {
  margin: 0 5px 0 20px;
  cursor: pointer;
  transition: all .3s;
}

li:hover {
  color: #eee;
}

.header-in > div > button {
  border: none;
  color: #fff;
  background: none;
  cursor: pointer;
  display: none;
  margin-right: 10px;
}

.material-icons.md-20 {
  font-size: 40px;
}

main {
  width: 100%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.main-in {
  width: 1000px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.posts {
  width: 95%;
}

.tabs {
  width: 100%;
  display: flex;
}

.tab {
  padding: 10px 15px;
  cursor: pointer;
  transition: all .3s;
}

.tab:hover {
  background-color: #fafafa;
}

.active {
  border-bottom: 1px solid #d3d3d3;
}

.post-list {
  width: 100%;
  margin-top: 20px;
}

.post {
  width: 100%;
  border: 1px solid #f5f5f5;
  box-shadow: 3px 3px 10px 0 #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.left {
  width: 85%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-weight: bold;
}

.right {
  width: 15%;
  text-align: right;
  font-size: 10pt;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.actions button {
  outline: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  width: 70px;
  margin-right: 5px;
  border-radius: 5px;
  transition: all .3s;
}

.actions button:hover {
  background-color: #dfdfdf;
}

.actions .btn-remove {
  color: red;
  background: none;
  width: 50px;
}

.actions .btn-remove:hover {
  text-decoration: underline;
  background: none;
}

.your-posts {
  display: none;
}

.menu-mobile {
  width: 100%;
  position: absolute;
  top: 75px;
  background-color: rgba(0, 0, 0, 0.7);
}

.menu-mobile > nav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-mobile > nav > ul > li {
  display: none;
  color: #fff;
}

.menu-mobile > nav > ul > li:hover {
  color: #eee;
}